#top {
    opacity: .5;  
    filter: alpha(opacity=50);  
    background: #cccccc;  
    width: 100%;  
    height: 50px;  
    position: fixed;  
    _position: absolute;  
    top: 0;
}

#right {  
    opacity: .5;  
    filter: alpha(opacity=50);  
    background: #cccccc;  
    width: 200px;  
    height: 70%;  
    position: fixed;  
    _position: absolute;
    top: 100px;  
    right: 0;
}

#main {  
    padding-top: 50px;
}

.curPage{
    background-color: inherit;
    color: #c9cea3;/*light green*/
}

.notCurPage{
    background-color: #cdf159;/*bright green*/
    color: #074817;/*darker green*/
    cursor: pointer;
}